configuration {
  modi: "drun,window,calc,emoji";
  font: "{{ theme_font }} 12";
  location: 0;
  width: 60;
  lines: 12;
  columns: 1;
  padding: 18;
  drun-match-fields: "name,generic,exec,categories";
  show-icons: true;
  theme: "{{ theme }}";
}
